h1{
    color:white;
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}