h1{
    color:white;
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.nav {
    background: #336699;
    top: 0px;
    z-index: 10000;
    position: fixed;
    width: 100%;
    left: 0px;
    font-size: 10px;
    height: 60px;
    box-shadow: 0px 6px rgba(42,42,42,0.7);
}