h1{
    color:white;
    font-size: 64px;
     
}
h2 {
    color: white;
}
body {
    background: #27282b;
}
p {
    font-size: 32px;
    color: white;
}
a {
    font-size: 32px;
    color: black;
}
div.center {
    text-align: center;
}
div.text {
    position: top 5px;
}
a {
    text-decoration: none;
    color: white;
}
html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    border-radius: 5px;
    border: none;
    font-size: 100%;
    text-align: center;
    color: black;
    width: 200px;
    height: 50px;
    transition: .3s;
}
button:hover {
    background: #336699;
}
div.space {
    margin: 600px;
}
img {
    vertical-align: middle;
}
div.nav {
    background: #336699;
    top: 0px;
    z-index: 10000;
    position: fixed;
    width: 100%;
    left: 0px;
    font-size: 5px;
}
.section h2 {
    padding-top: 100px;
    margin-top:-100px;
}
